@mixin hidden-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin scrollbar-theme-1 {
  // firefox
  scrollbar-width: thin;
  scrollbar-color: #979797 #ddd;

  // chrome, edge, safari
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background: #979797;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
  }
}
