@import "../../../../styles/scroll";

.dashboard-desktop-table {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > *:not(:last-child) {
    margin-bottom: 10px;
  }

  img {
    width: 15px;
    height: 15px;
  }

  .dt-field {
    flex: 1 1 0;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .dt-titles {
    display: flex;
    flex-direction: row;
    padding: 15px;

    > * {
      @extend .dt-field;
    }
  }

  .dt-titles > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    > *:not(:last-child) {
      margin-left: 10px;
    }

    .dt-title-hidden-sort {
      visibility: hidden;
    }

    &:hover {
      .dt-title-hidden-sort {
        visibility: visible;
      }
    }
  }

  .dt-rows {
    overflow-y: auto;
    padding-left: 5px;

    @include scrollbar-theme-1;
  }

  .dt-rows > div {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ececec;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    img {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
    }

    &.stared img {
      display: block;
    }

    &:hover {
      border-color: #cbcbcb;
    }

    > * {
      @extend .dt-field;
    }
  }

  .dt-load-more {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: flex-end;
    cursor: pointer;

    img {
      padding: 5px;

      &:hover {
        border-radius: 50%;
        box-shadow: 0 3px 5px 0 rgba(138, 138, 138, 0.4);
      }
    }
  }
}
